.role-data-holder table tr{
    text-align: left;
}

.role-data-holder table th {
    font-size: 2em;
    background-color: rgb(45, 46, 48);
}

.role-data-holder table td {
    width: 50%;
}

.role-data-holder table {
    width: 100%;
}
.role-data-holder tr:nth-child(even) {
    background: rgb(45, 46, 48);
}

.role-data-holder tr:nth-child(odd) {
    background: rgb(64, 65, 68);
}

h2 {
    margin: 0.5rem 0 0 0;
    
}

tr {
    color: gainsboro;
}